.container {
  display: grid;
  place-items: center;  
  margin-top: 20px;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */

  /* display: flex;
  justify-content: center; */

}

.box {
  border: solid 1px gainsboro;
  border-radius: 5px;
  min-width: 35%;
  max-width: 50%;
}

.box h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.formCad {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
}

.formCad input {
  position: relative;
  margin-top: 10px;
  border: solid 1px gainsboro;
  border-radius: 5px;
  height: 2.5rem;  
  text-indent: 10px;
}